body,html {
    height: auto;
    margin: 0;
    overflow: scroll;
  }

  .sidebar {
    z-index: 1;
    border-radius: 45px;
    height: 7%;
    width: 7%;
    position: fixed;
    overflow-x: hidden;
    transition: 0.3s;
    scrollbar-width: none;
    opacity: 0.9;
    background: linear-gradient(
        45deg,
        hsla(168, 85%, 52%, 0.5),
        hsla(263, 88%, 45%, 0.5) 100%
    );
    
  }

  .sidebar a {
    text-decoration: none;
    display: block;
    color: white;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: black;
  }

  .wall{
    
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #navButton {
    
  }