body,html {
    height: auto;
    margin: 0;
    overflow: scroll;
  }

.sidebar {
    z-index: 1;
    border-radius: 45px;
    height: 8%;
    width: 8%;
    position: fixed;
    overflow-x: hidden;
    transition: 0.3s;
    scrollbar-width: none;
    opacity: 0.8;
    background: rgb(0, 157, 220);
    padding: 10px;
    margin: 0 auto;
}

.btn-primary:hover {
    background-color: #f4f4f4 !important;
    border-color: transparent !important;
    background: rgba(0,0,0,0.1) !important;
}

.btn-primary {
    background-color: transparent !important;
    border-color: transparent !important;
    display: block !important;
    width: 100% !important;
    text-align: left !important; 
}

