<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
	<system.webServer>
		<handlers>
			<add name="php" path="*.php" verb="*" modules="CgiModule" scriptProcessor="C:\PHP7\php-cgi.exe" resourceType="File" />
		</handlers>
	</system.webServer>
</configuration>