@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    src: local(''), url('')
}

@font-face {
    font-family: 'SF';
    src: url('../fonts/SF_Pro/SF-Pro-Rounded-Regular.otf') format("opentype");
    font-family: 'SF-2';
    src: url('../fonts/SF_Pro/SF-Pro-Rounded-Light.otf') format("opentype");
  
  }