body {
    font-family: "SF", "SF-2";
}

html, body {
    overflow-x: hidden;
}

.text-ossc-1 {
    color: #3f9bd9;
}

.text-ossc-2 {
    color: #00284e;
}

.full-width {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}

.image-container {
    position: relative;
    width: 100%;
}

.fondo {
    width: 100%;
    height: 56vw;
    /*background-repeat: no-repeat;
    background-size: cover;*/ /* Cubrir el fondo */
}

.fondo-video {
    width: 100%;
    height: 50%;
    object-fit: cover; /* Asegura que el video cubra el contenedor */
}

.text-overlay {
    position: absolute;
    top: 35%; /* Ajusta según sea necesario */
    left: 5%; /* Ajusta según sea necesario */
    color: white;
    text-align: left;
    max-width: 50%; /* Limita el ancho del texto al 50% del contenedor */
}

.text-overlay2 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.text-overlay h1 {
    font-size: 3.5vw; /* Tamaño del <h1> en función del ancho de la pantalla */
}

.text-overlay2 h1 {
    font-size: 3.5vw; /* Tamaño del <h1> en función del ancho de la pantalla */
}

.text-overlay .text-warning {
    font-size: 3.5vw; /* Tamaño del <span> en función del ancho de la pantalla */
}

.phone {
    position: absolute;
    top: 20%; /* Ajusta la posición vertical según tu necesidad */
    left: 50%; /* Ajusta la posición horizontal según tu necesidad */
    width: 40vw; /* El ancho de la imagen del teléfono en función del viewport */
    height: 44.5vw; /* Mantener la proporción de la imagen */
}

/* Logo */
.logo {
    width: 10%;
    height: auto;
    vertical-align: middle;
}

/* Contenedor de texto */
.text-content {
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    font-family: "SF", "SF-2";
}

    /* Estilos para el título principal */
    .text-content h2 {
        font-size: 4vw;
    }

    /* Estilos para el subtítulo */
    .text-content h3 {
        font-size: 2.5vw;
        line-height: 1.5;
    }

/* Estilos generales para las cards */
.card {
    margin: 0 0.5px;
    border: none;
}

.card-img-top {
    width: 50%;
    height: auto;
}

.text-center {
    align-items: center;
}

.card-body {
    padding: 15px;
    text-align: center;
}

/* Ajuste responsivo del texto de las cards */

/* Cuando hay 1 columna visible (pantallas pequeñas) */
@media (max-width: 576px) {
    .card-text {
        font-size: 4vw; /* Tamaño más grande para 1 columna */
    }
}

/* Cuando hay 2 columnas visibles (pantallas medianas) */
@media (min-width: 577px) and (max-width: 991px) {
    .card-text {
        font-size: 3vw; /* Tamaño medio para 2 columnas */
    }
}

/* Cuando hay 4 columnas visibles (pantallas grandes) */
@media (min-width: 992px) {
    .card-text {
        font-size: 1.5vw; /* Tamaño más pequeño para 4 columnas */
    }
}

/* Espaciado adicional entre las cards */
@media (max-width: 768px) {
    .card {
        margin-bottom: 1rem;
    }
}

.carousel-item.active {
    background: transparent; /* Cambia el fondo solo para el carousel-item activo */
}

#carouselExampleControls {
    position: absolute; /* Asegura que el carrusel esté sobre la imagen de fondo */
    top: 40%; /* Ajusta la posición vertical del carrusel sobre la imagen */
    width: 100%; /* Ajusta el ancho del carrusel según tu necesidad */
    margin: 0 auto; /* Centra el carrusel horizontalmente si está dentro de un contenedor centrado */
    z-index: 1; /* Asegura que el carrusel esté encima de la imagen de fondo */
    background-color: transparent; /* Fondo transparente para el carrusel */
}

    /* Estilos específicos para las cards dentro del carrusel */
    #carouselExampleControls .carousel-item .card {
        margin: 0 1vw; /* Espaciado específico para las cards del carrusel */
        border: none; /* Elimina el borde para las cards del carrusel */
        text-align: center; /* Centra el contenido dentro de las cards */
    }

    #carouselExampleControls .carousel-item .card-img-top {
        width: 100%; /* Ajusta el ancho de la imagen al del card */
        height: auto; /* Mantiene la proporción de la imagen */
        object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
        display: block; /* Elimina el espacio adicional debajo de la imagen */
        margin: 0 auto; /* Asegura que la imagen esté centrada horizontalmente */
    }

    #carouselExampleControls .carousel-item .card-body {
        padding: 15px; /* Padding específico para el contenido del card */
        text-align: center; /* Centra el texto dentro del card */
    }

/* Estilos para las cards en el carousel solo en pantallas pequeñas */
@media (max-width: 576px) {
    #carouselExampleControls .carousel-item .card-text {
        font-size: 4vw; /* Tamaño más grande para 1 columna */
    }
}

/* Estilos para las cards en el carousel en pantallas medianas */
@media (min-width: 577px) and (max-width: 991px) {
    #carouselExampleControls .carousel-item .card-text {
        font-size: 3vw; /* Tamaño medio para 2 columnas */
    }
}

/* Estilos para las cards en el carousel en pantallas grandes */
@media (min-width: 992px) {
    #carouselExampleControls .carousel-item .card-text {
        font-size: 1.5vw; /* Tamaño más pequeño para 4 columnas */
    }
}

/* Espaciado adicional entre las cards en pantallas pequeñas */
@media (max-width: 768px) {
    #carouselExampleControls .carousel-item .card {
        margin-bottom: 1rem; /* Espacio adicional en la parte inferior */
    }
}

.widcard {
    width: 15vw;
    padding: 1vw;
}

.constellation {
    width: 100%;
    height: 70vw;
    border: none;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*        background-image: 
        radial-gradient(circle at left top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 15%),
        radial-gradient(circle at right top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 15%);
        */
    /*background: linear-gradient(white, 10%, rgba(255, 255, 255, 0));*/
    pointer-events: none; /* Permite la interacción con el iframe */
}

.text-card {
    --bs-bg-opacity: .5;
    writing-mode: vertical-rl; /* Mantiene el texto en modo vertical, de derecha a izquierda */
    height: 20vw;
    width: 10vw;
    display: flex;
    align-items: flex-start; /* Alinea el contenido hacia la parte inferior */
    justify-content: flex-start; /* Alinea el contenido hacia la izquierda */
    transform: rotate(180deg);
}

.mvl {
    font-size: 2.1vw;
    margin: 0; /* Asegura que no haya margen adicional que afecte la posición del texto */
}

@media (max-width: 955px) {
    .text-card {
        font-size: 1.25rem !important;
    }
    #btnWsp {
        font-size: 1.25rem !important;
    }
}