@font-face {
  font-family: 'SF';
  src: url('../fonts/SF_Pro/SF-Pro-Display-Bold.otf') format("opentype");
  font-family: 'SF-2';
  src: url('../fonts/SF_Pro/SF-Pro-Rounded-Bold.otf') format("opentype");

}

@media (min-width: 132px) and (max-width: 899px) {
    .menu {
        z-index: 1;
        position: fixed;
        border-radius: 4vw;
        font-size: 5vw;
        color: white;
        padding: 0.5vw;
        margin: 1vw;
        box-shadow: 5px 3px 3px #00284e;
        background: #3f9bd9;
    }

    .menu:hover {
        transition: 0.5s;
        height: 45vw;
        width: 36vw;
    }

    .menu:active,
    .menu:focus {
        transition: 0.5s;
        height: 45vw;
        width: 36vw;
    }

    .menu:not(:hover) {
        transition: 0.5s;
        height: 9vw;
        width: 24vw;
    }

    .menu a:hover {
        color: black;
    }

    .show {
        opacity: 0;
    }

}

@media (min-width: 900px) and (max-width: 2000px) {
    .menu {
        z-index: 1;
        position: fixed;
        border-radius: 2vw;
        font-size: 2vw;
        color: white;
        padding: 0.5vw;
        box-shadow: 5px 3px 3px #00284e;
        background: #3f9bd9;
    }

    .menu:hover {
        transition: 0.5s;
        height: 20vw;
        width: 16vw;
    }

    .menu:not(:hover) {
        transition: 0.5s;
        height: 4vw;
        width: 11vw;
    }

    .menu a:hover {
        color: black;
    }

    .show {
        opacity: 0;
    }

}

.bg-ossc1{
    background:#00284e;
}

.bg-ossc2{
    background: #3f9bd9;
}

.text-ossc2{
    color: #3f9bd9;
}

.text-ossc1{
    color: #00284e;
}

.card-container {
    display: flex;
    overflow-x: hidden; /* Hide the horizontal scrollbar */
    position: relative;
    cursor: -moz-grab; /* Standard */
    cursor: -webkit-grab; /* Safari, Chrome */
    cursor: grab; /* Firefox */
  }

  .cards {
    flex: 0 0 auto;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    transition: transform 0.3s ease;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15vw;
    border-radius: 1vw;
  }

  @media (min-width: 1px) and (max-width: 768px) {
      .cards{
          width: 50vw;
          height: 56vw;
      }
      .imgDeg{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100vw;
      }
    
    .tsd{
        font-size: 1rem;
      }
  }

  @media (min-width: 769px) and (max-width: 900px) {
      .cards{
          width: 34vw;
          height: 40vw;
      }
      .imgDeg{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 45vw;
      }
    
    .tsd{
        font-size: 1.5rem;
      }
  }

  @media (min-width: 901px) and (max-width: 1600px) {
    .cards{
        width: 18vw;
        height: 24vw;
    }
    .imgDeg{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 50vw;
      }
    
    .tsd{
        font-size: 1.5rem;
      }
}

@media (min-width: 1601px) and (max-width: 2400px) {
    .cards{
        width: 18vw;
        height: 24vw;
    }
    .imgDeg{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 38vw;
      }
    
    .tsd{
        font-size: 2.5rem;
      }
}
  .cards:hover {
    transition: 1s;
    transform: scale(105%);
    opacity: 0.9;
  }


  .carousel-controls {
    position: absolute;
    bottom: 20%;
    border: none;
    outline: none;
    cursor: pointer;
  }
  

  .prev-btn {
    z-index: 1;
    left: 0;
    border-radius: 5vw;
    font-size: 2vw;
  }

  .next-btn {
    z-index: 1;
    right: 0;
    border-radius: 5vw;
    font-size: 2vw;
  }

  .prev-btn:hover{
      transition: 1s;
      opacity: 1;
  }

  .next-btn:hover{
      transition: 1s;
      opacity: 1;
  }

  .prev-btn:not(:hover){
      transition: 1s;
      opacity: 0.1;
  }

  .next-btn:not(:hover){
      transition: 1s;
      opacity: 0.1;
  }

  .contornoB{
    -webkit-text-stroke: 1.5px black;
  }

  .contornoW{
    -webkit-text-stroke: 1.5px white;
  }

  .fondo{
    background-color: #ffffff8f;
    border-radius: 2vw;
  }
