@media (min-width: 132px) and (max-width: 899px) {
    .menu {
        z-index: 1;
        position: fixed;
        border-radius: 4vw;
        font-size: 5vw;
        color: white;
        padding: 0.5vw;
        margin: 1vw;
        box-shadow: 5px 3px 3px #00284e;
        background: #3f9bd9;
    }

    .menu:hover {
        transition: 0.5s;
        height: 45vw;
        width: 36vw;
    }

    .menu:active,
    .menu:focus {
        transition: 0.5s;
        height: 45vw;
        width: 36vw;
    }

    .menu:not(:hover) {
        transition: 0.5s;
        height: 9vw;
        width: 24vw;
    }

    .menu a:hover {
        color: black;
    }

    .show {
        opacity: 0;
    }

}

@media (min-width: 900px) and (max-width: 2000px) {
    .menu {
        z-index: 1;
        position: fixed;
        border-radius: 2vw;
        font-size: 2vw;
        color: white;
        padding: 0.5vw;
        box-shadow: 5px 3px 3px #00284e;
        background: #3f9bd9;
    }

    .menu:hover {
        transition: 0.5s;
        height: 20vw;
        width: 16vw;
    }

    .menu:not(:hover) {
        transition: 0.5s;
        height: 4vw;
        width: 11vw;
    }

    .menu a:hover {
        color: black;
    }

    .show {
        opacity: 0;
    }

}

.bg-ossc1{
    background:#00284e;
}

.bg-ossc2{
    background: #3f9bd9;
}

.text-ossc2{
    color: #3f9bd9;
}

.text-ossc1{
    color: #00284e;
}

.card-container {
    display: flex;
    overflow-x: hidden; /* Hide the horizontal scrollbar */
    position: relative;
    cursor: grab; /* Add grab cursor for draggable effect */
  }

  .cards {
    flex: 0 0 auto;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    transition: transform 0.3s ease;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15vw;
    border-radius: 1vw;
  }

  @media (max-width: 768px) {
      .cards{
          width: 45vw;
          height: 65vw;
      }
  }

  @media (min-width: 769px) {
      .cards{
          width: 18vw;
          height: 24vw;
      }
  }
  .cards:hover {
    transform: scale(101%);
  }

  .cards2 {
    flex: 0 0 auto;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    transition: transform 0.3s ease;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 41vw;
    border-radius: 1vw;
  }

  @media (max-width: 768px) {
      .cards2{
          width: 45vw;
          height: 65vw;
      }
  }

  @media (min-width: 769px) {
      .cards2{
          width: 18vw;
          height: 24vw;
      }
  }
  .cards2:hover {
    transform: scale(101%);
  }

  .carousel-controls {
    bottom: 0;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .carousel-controls2 {
    bottom: 0;
    border: none;
    outline: none;
    cursor: pointer;
  }
  

  .prev-btn {
    z-index: 1;
    left: 0;
    border-radius: 5vw;
    font-size: 2vw;
  }
  .next-btn {
    z-index: 1;
    right: 0;
    border-radius: 5vw;
    font-size: 2vw;
  }

  .prev-btn:hover{
      transition: 1s;
      opacity: 1;
  }

  .next-btn:hover{
      transition: 1s;
      opacity: 1;
  }

  .prev-btn:not(:hover){
      transition: 1s;
      opacity: 0.1;
  }

  .next-btn:not(:hover){
      transition: 1s;
      opacity: 0.1;
  }